@import url('https://fonts.googleapis.com/css2?family=Kalnia:wght@200;300;400;500;600;700&display=swap');

$primary-color: #2c2d34;
$secondary-color: #e1a142;
$primary-white: #cfd0d5;

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  primaryWhite: $primary-white;
}

.body {
  background-color: $primary-color;
  color: $primary-white;
}

.container {
  max-width: 940px;
  margin: 0 auto;
}

.navbar {
  position: absolute;
  top: 0;
  left: 50%;
  padding: 20px;
  transform: translateX(-50%);
  transform: rotate(0deg);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);

  .link {
    font-weight: lighter;
    margin: 5px;

    &:hover {
      text-decoration: underline;
    }
  }
}

.header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  padding: 1rem 0;

  .heading {
    font-family: 'Kalnia', serif;
    line-height: 90px;
    margin-bottom: 50px;

    h1 {
      &:nth-child(1) {
        font-size: 4rem;
      }

      &:nth-child(2) {
        font-size: 7rem;
      }
    }
  }

  .headerContainer {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    justify-content: start;
    align-items: start;
    gap: 20px;

    .skills {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;

      .skillsList {
        background-color: $secondary-color;
        color: white;
        padding: 8px;
        border-radius: 8px;
      }
    }
  }
}

.projectSection {
  min-height: 100vh;
  padding: 7rem 0;

  .projectTitle {
    text-align: center;
    line-height: 10px;
    margin: 5rem 0;

    h1 {
      font-size: 6rem;
      font-weight: 900;
      text-transform: uppercase;

      &:last-child {
        -webkit-text-stroke: 1px $primary-white;
        -moz-text-stroke: 1px $primary-white;
        text-stroke: 1px $primary-white;
        color: transparent;
      }
    }
  }

  .listProjects {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .project {
      display: grid;
      grid-template-columns: repeat(2, 50%);
      align-items: center;
      gap: 20px;
      padding: 20px;
      border: 1px solid $primary-white;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;

      .imageBox {
        width: 100%;
        height: 300px;
        border: 1px solid $primary-white;
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
        overflow: hidden;
        cursor: pointer;

        .image {
          width: 100%;
          height: 300px;
          object-fit: cover;
          object-position: top;
          transition: all 8s ease-in-out;
          -webkit-transition: all 8s ease-in-out;
          -moz-transition: all 8s ease-in-out;
          -ms-transition: all 8s ease-in-out;
          -o-transition: all 8s ease-in-out;

          &:hover {
            object-position: bottom;
          }
        }
      }

      .projectDesc {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 8px;
        padding-right: 20px;

        h1 {
          color: $secondary-color;
          font-size: 2rem;
        }

        p {
          font-weight: lighter;
        }

        .linkProject {
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 10px;

          .projectLink {
            display: flex;
            justify-content: center;
            align-items: center;

            &:hover {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }
}

// BREAKPOINT
$small-screen: 480px;
$medium-screen: 768px;
$pc-screen: 1140px;

@mixin breakpoint($point) {
  @if $point ==small {
    @media (max-width: $small-screen) {
      @content;
    }
  }

  @else if $point ==medium {
    @media (max-width: $medium-screen) {
      @content;
    }
  }

  @else if $point ==large {
    @media (min-width: $pc-screen) {
      @content;
    }
  }
}

@include breakpoint(small) {}

@include breakpoint(medium) {
  .navbar {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 20px;
    transform: translateX(-50%);
    transform: rotate(0deg);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
  }

  .header {
    padding: 1rem;

    .heading {
      line-height: 50px;
      margin-bottom: 30px;

      h1 {
        &:nth-child(1) {
          font-size: 2rem;
        }

        &:nth-child(2) {
          font-size: 4rem;
        }
      }
    }

    .headerContainer {
      display: grid;
      grid-template-columns: repeat(1, 100%);
    }
  }

  .projectSection {
    padding: 20px;

    .projectTitle {
      h1 {
        font-size: 4rem;
      }
    }

    .listProjects {
      .project {
        display: grid;
        grid-template-columns: repeat(1, 100%);

        .projectDesc {
          padding-right: 0;
        }
      }
    }
  }
}

@include breakpoint(large) {
  .navbar {
    position: absolute;
    top: -30%;
    right: -40%;
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
  }
}